@import "variables";

body, html {
  max-width: 100%;
}

#app {
  display: flex;
}

.page {
  .container-fluid {
    max-width: 960px;
    margin: 0 50px;
  }
}

.post-container, .post-excerpt {
  img {
    max-width: 100%;
  }
}

.archives-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

@media (max-width: @screen-xs-max) {
  .page {
    .container-fluid {
      margin: 0;
    }
  }
}

.nav-pills > li > a {
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: @site-color;

    &:hover, &:focus, &:active {
      color: @site-color;
      text-decoration: none;
    }
  }
}

code.hljs {
  background: transparent;
}

pre {
  border-radius: 0;
  border: none;
  padding: 0;

  code {
    white-space: pre;
    word-wrap: normal;
    display: block;
    overflow-x: auto;
    border-radius: 0;
    border: none;
    padding: 12px !important;
  }
}

.icon-spin {
  animation: spinIt 1.5s infinite linear;
}

@keyframes spinIt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
