// Bootstrap
@import "~bootstrap/less/bootstrap.less";
// Need to manually remove Google font from Paper theme
@import "./paper/variables.less";
@import "./paper/bootswatch.less";
// Others
@import "~highlight.js/styles/github-gist.css";
@import "~nprogress/nprogress.css";

// Bootstrap fix
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "variables.less";
