.wxsm-github-badges
  text-align center

  a
    border-bottom none

    img
      display inline-block !important

//.medium-zoom--opened .medium-zoom-overlay
//  background: var(--card-bg-color) !important

.post-body .note:not(.no-icon)::before
  top 10px !important

.post-body table img
  margin 5px
