name: CI
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup timezone
        uses: zcong1993/setup-timezone@v2.0.0
        with:
          timezone: Asia/Shanghai
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: master
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - run: pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: gh-pages
          build_dir: public
          jekyll: false
