name: CI
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: Asia/Shanghai
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: master
      - uses: c-hive/gha-yarn-cache@v2
      - run: yarn --frozen-lockfile
      - name: Build
        run: npm run build
      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_branch: gh-pages
          build_dir: src/.vuepress/dist
          jekyll: false
